<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ficha.Nome %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @ficha.Raça %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @ficha.Classe %>
</p>

<p>
  <strong>Nível:</strong>
  <%= @ficha.Nível %>
</p>

<p>
  <strong>Antecedente:</strong>
  <%= @ficha.Antecedente %>
</p>

<p>
  <strong>Alinhamento:</strong>
  <%= @ficha.Alinhamento %>
</p>

<p>
  <strong>Dado vida:</strong>
  <%= @ficha.Dado_Vida %>
</p>

<p>
  <strong>Força:</strong>
  <%= @ficha.Força %>
</p>

<p>
  <strong>Destreza:</strong>
  <%= @ficha.Destreza %>
</p>

<p>
  <strong>Constituição:</strong>
  <%= @ficha.Constituição %>
</p>

<p>
  <strong>Inteligência:</strong>
  <%= @ficha.Inteligência %>
</p>

<p>
  <strong>Sabedoria:</strong>
  <%= @ficha.Sabedoria %>
</p>

<p>
  <strong>Carisma:</strong>
  <%= @ficha.Carisma %>
</p>

<p>
  <strong>Classe de armadura:</strong>
  <%= @ficha.Classe_de_Armadura %>
</p>

<%= link_to 'Editar', edit_ficha_path(@ficha) %> |
<%= link_to 'Voltar', fichas_path %>
